# Python cache
__pycache__/
*.pyc
*.pyo

# Ignore doc
*.csv

# Ignore Python virtual environments
.venv/
venv/

# Ignore PyTorch checkpoints, logs, and plots
checkpoints/
logs/
plots/

# Ignore Hugging Face cache and datasets
datasets/
wandb/
